# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nofxnhgibstkkgtjstvr.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5vZnhuaGdpYnN0a2tndGpzdHZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2MDUzMjAsImV4cCI6MjA5NTE4MTMyMH0.vd16lCCqILE7etfob4I8BQ0VT99otuyYVHWv_O86UEk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5vZnhuaGdpYnN0a2tndGpzdHZyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTYwNTMyMCwiZXhwIjoyMDk1MTgxMzIwfQ.32c9wq6NmBY7F_rVQqS67lM6se57SiyGJfqBmi7V7ms

# Google Gemini
GOOGLE_API_KEY=AIzaSyDMlWcOV4PC91ezSv8lFRadPYUYq8iCsDk
